# Environment files
/server-bucket/.env
/server-auth/.env
/server-game/.env
/client/.env

# Service-specific files
/server-bucket/key.json

# Dependency directories
/client/node_modules
/client/.pnp
.pnp.js
.yarn/install-state.gz

# Testing artifacts
/client/coverage

# Next.js specific files
/client/.next/
/client/out/
/client/public/characters/*.zip

# Production build files
/client/build

# Miscellaneous files
.DS_Store
*.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment variables
.env*.local
*.env

# Vercel platform specific
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
