@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-electrolize;
}

img,
canvas {
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

#toolbar button,
#toolbar a {
  font-size: xx-small;
  margin: 0px 4px;
}

#game {
  margin: auto;
  text-align: center;
}

#gamecanvas {
  margin: auto;
  min-width: 1024;
  width: 1024;
  height: 705px;
}
